<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Doppio+One&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS link -->
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  
</head>

<body>
  <nav class="navbar sticky-top bg-body-tertiary border-bottom border-primary border-3">

    <div class="container-fluid">
      <div class="col-4 justify-content-start">
        <a class="navbar-brand" href="{{ url_for('index') }}">BL4 Legendary Database</a>
      </div>
      <div class="col-4 justify-content-center">
        <div class="search-wrapper position-relative">
          <form class="d-flex" role="search">
            <input id="searchInput" onsubmit="return false;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
          </form>
        </div>
      </div>
      <div class="col-4 justify-content-end">

      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <!-- A block for child templates to fill with content -->
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </div>

  <!-- Bootstrap JS bundle (includes Popper for components like dropdowns) -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
  <script src="{{ url_for('node_modules', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

  <script>
        // Define the global variable for the external script to access
        const trieData = {{ trie_data | tojson }};
  </script>

</body>
</html>