{% extends "base.html" %}

{% block title %}{{ item_data['Name'] }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="back-link">
        <a href="{{ url_for('display_sheet', sheet_slug = sheet_info['slug']) }}">&larr; Back to {{ sheet_info['original_name'] }}</a>
    </div>

    <br>
    {% if item_data %}
    <div class="card w-75 mb-3 no-hover">
        <img src="{{ sheet_info['slug'] | item_img(item_data['Name']) | safe }}" class="card-img-top" alt="{{ item_data['Name'] }} Image">
        <div class="card-body">
            <h1 class="card-title">{{ item_data['Name'] }}</h1>
            <p class="card-text red-text">"{{ item_data['Red Text'] }}"</p>
        </div>
        <ul class="list-group list-group-flush">
            {% if item_data['Type'] %}<li class="list-group-item">Type: {{ item_data['Type'] | expand }}</li>{% endif %}
            {% if item_data['Elements'] %}<li class="list-group-item">Elements: {% for char in item_data['Elements'] %} {{ char | element_img | safe }} {% endfor %}</li>{% endif %}
            {% if item_data['Manufacturer'] %}<li class="list-group-item">Manufacturer: {{ item_data['Manufacturer'] }}</li>{% endif %}
        </ul>
        <div class="card-body">
            <p class="card-text">{{ sheet_info['original_name'][:-1] }}{% if sheet_info['slug'] == 'ordnance' %}e{% endif %} Summary: {{ item_data['Summary'] }}</p>
        </div>
    </div>
    
    <h2>Loot Source</h2>
    {% for source in sources %}
    <div class="card" style="width: 18rem;">
        <img src="{{ 'sources' | item_img(source['name']) | safe }}" class="card-img-top" alt="{{ source['name'] }} Image">
        <div class="card-body">
            <h4 class="card-title"> {{ source['name'] }}</h4>
            <p class="card-text"> {{ source['location'] }}</p>
            <a href="{{ url_for('display_item', sheet_slug = 'sources', name_slug = source['slug']) }}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}

    {% if item_data['Location'] != 'UNK' %}
    <h2>Other loot in {{ item_data['Location'] }}</h2>
    <div class="container" id="table">
        <div class="row row-gap-3">
            {% for item in items_in_location %}
            <div class="col-6 col-md-4">
                <div class="card {{'pearl' if item['Rarity'] == 'Pearlescent' else 'legendary'}}"
                    style="width: 18rem;">
                    <img src="{{ item['sheet-slug'] | item_img(item['Name']) | safe }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item['Name'] }}</h5>
                        <p class="card-text">{{ item['Manufacturer'] or item['Class'] or 'Loot'}} {{ item['Type'] or item['sheet'][:-1]}} {% if item['sheet-slug'] == 'shields' %} Shield {% endif %}</p>
                        
                        <a href="{{ item['url'] }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% else %}
    <p>No data found for this row.</p>
    {% endif %}

</div>
{% endblock %}

