{% extends "base.html" %}

{% block title %}{{ location_data['region_name'] }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="back-link">
        <a href="{{ url_for('index') }}">&larr; Back to Home</a>
    </div>

    <br>
    {% if location_data %}
    <div class="card w-75 mb-3 no-hover">
        <div class="card-body">
            <h1 class="card-title">{{ location_data['region_name'] }}</h1>
            <p class="card-text">{{ location_data['Description'] }}</p>
        </div>
    </div>
    
    <!--
    Add filter for area
    -->

    <h2>Sources in {{ location_data['region_name'] }}</h2>
    <div class="container" id="table">
        <div class="row row-gap-3">
            {% for source in sources_in_region %}
            <div class="col-6 col-md-4">
                <div class="card" style="width: 18rem;" >
                    <img src="{{ source['sheet-slug'] | item_img(source['Name']) | safe }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ source['Name'] }}</h5>
                        <p class="card-text">{{ source['Manufacturer'] or source['Class'] or 'Loot'}} {{ source['Type'] or source['sheet'][:-1]}} {% if source['sheet'] == 'Shields' %} Shield {% endif %}</p>
                        <a href="{{ source['url'] }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h2>Loot in {{ location_data['region_name'] }}</h2>
    <div class="container" id="table">
        <div class="row row-gap-3">
            {% for item in items_in_region %}
            <div class="col-6 col-md-4">
                <div class="card" style="width: 18rem;" >
                    <img src="{{ item['sheet-slug'] | item_img(item['Name']) | safe }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item['Name'] }}</h5>
                        <p class="card-text">{{ item['Manufacturer'] or item['Class'] or 'Loot'}} {{ item['Type'] or item['sheet'][:-1]}} {% if item['sheet'] == 'Shields' %} Shield {% endif %}</p>
                        <a href="{{ item['url'] }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    

    {% endif %}
</div>
{% endblock %}