{% extends "base.html" %} {% block title %}{{sheet_info['original_name']}}
Database{% endblock %} {% block content %}

<div class="infinite-bg"></div>
<div class="container mt-4">
    <div class="back-link">
        <a href="{{ url_for('index') }}">&larr; Back to Home</a>
    </div>

    <h2>{{sheet_info['original_name']}} Database</h2>

    <div class="container mb-3">

        {% if filter_options.items() %}
        <h4>Filters:</h4>
        {% endif %} {% for filter,options in filter_options.items() %}
        <div class="dropdown d-inline-block">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ filter }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item filter-option" href="#" filter-type="{{  filter  }}"
                        filter-value="Any">Any</a>
                </li>
                {% for option in options %}
                <li>
                    <a class="dropdown-item filter-option" href="#" filter-type="{{  filter  }}"
                        filter-value="{{ option }}">{{ filter_option_text(filter, option) }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>

    <div class="container-fluid" id="table">
        <div class="row row-gap-3">
            {% for row in sheet_data %}
            <div class="col-6 col-xl-4 col-xxl-3">
                <div class="card mx-3 {{'' if sheet_info['original_name'] == 'Sources' else ('pearl' if row['Rarity'] == 'Pearlescent' else 'legendary')}}"
                     {% for filter_column,options in filter_options.items() %} data-{{ filter_column
                    }}="{{ row[filter_column] }}" {% endfor %} 
                    data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="{{ row['Summary'] }}">
                    <img src="{{ sheet_info['slug'] | item_img(row['Name']) | safe }}"
                        class="card-img-top border-bottom" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{ row['Name'] }}</h5>

                        <p class="card-text info">
                            {{ row['Manufacturer'] or row['Class'] or 'Loot'}} {{ row['Type']
                            or sheet_info['original_name'][:-1]}} {% if sheet_info['slug'] ==
                            'shields' %} Shield {% endif %}
                        </p>
                        <a href="{{ url_for('display_item', sheet_slug=sheet_info['slug'], name_slug=row['name_slug']) }}"
                            class="btn btn-primary stretched-link">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script>
    window.addEventListener('scroll', () => {
        const scrollTop = window.scrollY || document.documentElement.scrollTop;

        const multiplier = 0.1; // Adjust this value to control the speed of the background movement
        const backgroundPositionY = scrollTop * multiplier;

        const background = document.querySelector('.infinite-bg');
        if (background) {
            background.style.backgroundPosition = `0px ${backgroundPositionY}px`;
        }
    });
    
    document.addEventListener('DOMContentLoaded', () => {
        const filterState = {};

        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

        popoverList.forEach((popover) => {
            popover._config.delay = { "show": 500, "hide": 100 };

            const popoverElement = popover._element;


            popoverElement.addEventListener('show.bs.popover', (event) => {
                const popoverText = event.target.getAttribute('data-bs-content');
                if (popoverText === 'UNK' || !popoverText) {
                    event.preventDefault();
                }
            })
        });

        document.querySelectorAll('.filter-option').forEach((item) => {
            item.addEventListener('click', (event) => {
                event.preventDefault(); //prevent href

                const filterType = event.target
                    .getAttribute('filter-type')
                    .toLowerCase();
                const filterValue = event.target.getAttribute('filter-value');

                const button = event.target
                    .closest('.dropdown')
                    .querySelector('.dropdown-toggle');
                if (button) {
                    const newText = event.target.textContent.trim();
                    button.textContent = newText;
                }

                filterState[filterType] = filterValue;

                filterCards(filterState);
            });
        });

        function filterCards(filterState) {
            const columns = document.getElementById('table').querySelectorAll('.col-md-4');
            

            columns.forEach((cols) => {
                let isMatch = true;
                const card = cols.querySelector('.card');
                console.log(card);
                
                for (const column in filterState) {
                    let filterValue = filterState[column];
                    console.log(filterValue);
                    let cardValue = card.getAttribute(`data-${column}`);
                    console.log(cardValue);

                    if (column === 'elements' || column === 'location') {
                        if (
                            filterValue !== 'Any' &&
                            filterValue &&
                            !cardValue.includes(filterValue)
                        ) {
                            //console.log('False (E/L): ' + filterValue + ' not in ' + cardValue + ' for ' + card.querySelector('.card-title').textContent + ' (' + column + ')');
                            isMatch = false;
                            break;
                        }
                    } else if (
                        filterValue !== 'Any' &&
                        filterValue &&
                        filterValue !== cardValue
                    ) {
                        //console.log('False (Other): ' + filterValue + ' not in ' + cardValue + ' for ' + card.querySelector('.card-title').textContent + ' (' + column + ')');
                        isMatch = false;
                        break;
                    }
                }

                if (isMatch) {
                    //console.log('Match found for filter: ' + JSON.stringify(filterState) + ' in card: ' + card.querySelector('.card-title').textContent);
                    cols.classList.remove('d-none');
                } else {
                    cols.classList.add('d-none');
                }
            });
        }
    });
</script>

{% endblock %}