// static/scss/custom.scss

// 1. Override default variables here (e.g., change the primary color)
$primary: #6f42c1; // Example: Set a new primary color
$border-radius: 0.5rem; // Example: Increase the default border-radius
$redtext: #FF0000;

// 2. Import all of Bootstrap's core Sass files
@import "bootstrap/scss/bootstrap";

// 3. Add any additional custom CSS rules after the import
.my-custom-class {
  font-weight: bold;
}

.red-text {
  color: $redtext;
}